<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>tech.macoder.xpcdemo</string>
	<key>MachServices</key>
	<dict>
		<key>tech.macoder.xpcdemo</key>
		<true/>
	</dict>
	<key>Program</key>
	<string>{{PATH}}/mach101/xpc/demo/server</string>
	<key>ProgramArguments</key>
	<array>
		<string>{{PATH}}/mach101/xpc/demo/server</string>
	</array>
</dict>
</plist>